/build/
__pycache__
*.cache
*.pyc
music_info_db
shadow_state_db
bridge.log
installer.sh
certificates/*
music/*
dist/
*.egg-info/
*.pyx
*.pxd
*.whl
*.eggs
*.so
.coverage

*.sublime-*
# Ignore mac stuff
.DS_Store
tags
